{% extends 'base.html.twig' %}

{% block title %}Join Newsletter{% endblock %}

{% block body %}

    <h1>Please type your email to join ours newsletter</h1>

    {{ form_start(form) }}
    {{ form_row(form.mail) }}

    <button type="submit" class="btn">Send</button>
    {{ form_end(form) }}
{% endblock %}