{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if flashesbag.success is defined %}
                <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                    <p>{{ flashesbag.success[0] }}</p>
                </div>
            {% endif %}

            {% for posts in post %}
                <div class="col-5 mx-auto bg-light border border-dark shadow my-3 p-2">
                    <div class="d-inline-block">
                        <strong>Tytuł: {{ posts.title }}</strong>
                        <p> <strong>Opis: </strong> {{ posts.info }}</p>
                        <p><strong>Czas utworzenia posta: </strong>{{ posts.adddate|date('Y:m:d H:i:s')}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}