{% extends 'base.html.twig' %}

{% block title %}Expire{% endblock %}

{% block body %}

    <h1>Please type your account email to change your password</h1>

    {{ form_start(form) }}
    {{ form_row(form.mail) }}

    <button type="submit" class="btn">Send</button>
    {{ form_end(form) }}
{% endblock %}